body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
:root {
    --dark-magenta: #861388ff;
    --lapis-lazuli: #3e6990ff;
    --papaya-whip: #f9ecccff;
    --verdigris: #17bebbff;
    --icterine: #fffd82ff;
}
body {
    /* border: 2px solid red; */
    background-image: url('assets/images/Cloudy (2).svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

  /* Container */

  .container {
    max-width:1100px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('assets/images/Shiny Overlay (3).svg');
    border-radius: 10px;
  }

  /* Header*/

  header {
    /* border: 2px solid red; */
    color: var(--icterine);
    padding: 20px;
  }

  h1 {
    /* border: 2px solid red; */
    text-align: center;
  }

  nav ul {
    /* border: 2px solid red; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: var(--icterine);
    /* font-weight: bold; */
    font-size: 18px;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: var(--icterine);
    text-decoration: underline;
  }

  /* Main Content */

  main {
    padding: 20px;
    margin-top: 20px;
    /* border: 2px solid red; */
  }

  section {
    margin-bottom: 30px;
    /* border: 2px solid red; */
  }

  h2 {
    color: var(--icterine);
    text-align: center;
  }

  h3 {
    color: var(--verdigris);
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;;
    text-align: center;
  }

  article p {
    /* border: 2px solid red; */
    margin-bottom: 15px;
    color: var(--papaya-whip);

  }

  button {
    background-color: var(--lapis-lazuli);
    color: var(--verdigris);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border-radius: 5px;
  }

  button:hover {
    background-color: var(--dark-magenta);
    color: var(--icterine)
  }

  /* Projects*/
  ul {
    list-style-type: none;
  }

  aside {
    /* border: 2px solid red; */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }

  footer {
    /* border: 2px solid red; */
    /* color: #fff; */
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
  }

  footer img {
    /* border: 2px solid red; */
    height: 50px;
  }
footer li {
    /* border: 2px solid red */
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

footer li:hover {
    transform: scale(1.2);  
    cursor: pointer;
}



