@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Handjet:wght@300&family=Young+Serif&display=swap');

:root {
    --rich-black: #03071eff;
    --chocolate-cosmos: #370617ff;
    --rosewood: #6a040fff;
    --penn-red: #9d0208ff;
    --engineering-orange: #d00000ff;
    --sinopia: #dc2f02ff;
    --persimmon: #e85d04ff;
    --princeton-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff;
}

img {
    width: 50px;
}

/* html {
    background-image: url("./assets/my-assets/geo-globe.gif");
    background-size: cover;
    height: 100vh;
    width: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Handjet";
    color: white;
} */

@keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

html {
    background: url("./assets/my-assets/geo-globe.gif") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: scaleUp 3s ease-out;
}

body {
    font-family: "Handjet";
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h4 {
    display: inline-block;
    background-color: var(--sinopia);
    margin: 0;
}

#color-first {
    color: var(--sinopia)
}

#color-word1 {
    color: var(--engineering-orange);
}

#color-word2 {
    color: var(--princeton-orange);
}

#color-word3 {
    color: var(--selective-yellow);
}

#color-word4 {
    color: var(--penn-red);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 400px;
  text-align: center;
}

#grid1-left {
    grid-column: 1;
    grid-row: 2;
    padding-right: 50px;
}

#grid1-mid {
    grid-column: 2;
    grid-row: 1;
    font-size: 15px;
}

#grid1-right {
    grid-column: 3;
    grid-row: 2;
    padding-left: 50px;
    font-size: 18px;
}


#list {
    list-style-type: none;
}

aside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
  text-align: center;
}

#grid2-left {
    grid-column: 1;
    padding-right: 60px;
}

#grid2-right {
    grid-column: 3;
    padding-left: 70px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  padding-top: 50px;
}

ul {
    grid-column: 2;
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-left: 60px;
    align-items: center;
}

#projects a {
    color: var(--rosewood);
    text-decoration: none;
}

#projects a:hover {
    color: var(--rich-black);
    background-color: var(--persimmon);
  }
